// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.profile-image {
    width: 35px;
    height: 35px;
}


.d-icon {
    font-size: 1.2rem;
    width: 30px;
    text-align: center;
}

.d-text {
    padding-left: 2px;
}

.d-title {
    color: white;
    font-variant: small-caps;
    padding-left: 4px;
}

.username {
    font-variant: small-caps;
}

.router-link-exact-active {
    color: white !important;
    background-color: rgb(14, 90, 167);
}


@media print {
    .nav.nav-tabs li:not(.active) {
        display: none;
    }

    .invoice {
        padding: 10px 20px;
    }

    .invoice {
        background-position: center center;
        background-repeat: no-repeat;

    }

    .table-responsive table {
        background-color: transparent !important;
    }

}

@page {
    margin: 0;
}
